<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikumar.testapi">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".boundservice.MultiplyService" />
        <service android:name=".intentservice.AdditionService" />
        <service android:name=".startservice.SubtractionService" />

        <activity android:name=".asynctask.AsyncTaskExample" />
        <activity android:name=".intentservice.IntentServiceExample" />
        <activity android:name=".fingerprint.FingerPrintExample" />
        <activity
            android:name=".swipegesture.SwipeGestureExample"
            android:label="@string/title_activity_swipe_gesture_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ActivityExample"
            android:label="@string/title_activity_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".startservice.StartedServiceExample" />
        <activity android:name=".boundservice.BoundServiceExample" />
        <activity
            android:name=".SecondMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".googlemap.GoogleMapExample"
            android:label="@string/title_activity_google_map_example"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nikumar.testapi.MainActivity" />
        </activity>
    </application>

</manifest>